# Binaries
bin/
obj/

# Visual Studio files
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.csproj.user
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider files
.idea/
*.sln.iml
*.ide-workspace

# Package files
*.nupkg
*.pdb
*.dll

# Test Results
*.xml
*.junit

# User-specific files
*.user
*.userosscache

# Debug files
**/*.db
**/*.sqlite

# Publish folder
publish/

# Logs
*.log
logs/
*.logs

# Visual Studio Code folder
.vscode/

# macOS
.DS_Store

# Thumbnails
._*

# ReSharper folder
_ReSharper*/

# Rider folders
.idea/
.idea/

# DotCover files
*.dcvr.*
*.dcvr

# GhostDoc files
Help/*.chm
Help/*.htm
Help/*.html
Help/*.zip